<% content_for(:secondary_links) do %>
  <li><%= render "forum_posts/quick_search" %></li>
  <%= subnav_link_to "Listing", forum_topics_path %>
  <%= subnav_link_to_if(policy(ForumTopic).create?, "New", new_forum_topic_path) %>
  <%= subnav_link_to_if(policy(TagAlias).create?, "Request alias", new_tag_alias_path) %>
  <%= subnav_link_to_if(policy(TagImplication).create?, "Request implication", new_tag_implication_path) %>
  <%= subnav_link_to_if(policy(BulkUpdateRequest).create?, "Request BUR", new_bulk_update_request_path) %>
  <%= subnav_link_to_if(policy(ForumTopic).mark_all_as_read?, "Mark all as read", mark_all_as_read_forum_topics_path, method: :put, data: { shortcut: "shift+r" }) %>

  <%= subnav_link_to "Search", search_forum_posts_path %>
  <%= subnav_link_to "Help", help_page_path(id: "forums") %>
  <% ftpolicy = ForumTopicPolicy.new(CurrentUser.user, @forum_topic) %>
  <% if @forum_topic && !@forum_topic.new_record? %>
    <% if @forum_topic.user_subscription(CurrentUser.user) %>
      <%= subnav_link_to_if(ftpolicy.unsubscribe?, "Unsubscribe", unsubscribe_forum_topic_path(@forum_topic), method: :put) %>
    <% else %>
      <%= subnav_link_to_if(ftpolicy.subscribe?, "Subscribe", subscribe_forum_topic_path(@forum_topic), method: :put, data: { confirm: "Are you sure you want to receive email notifications for this forum topic?" }) %>
    <% end %>
    <% if @forum_topic.user_mute(CurrentUser.user) %>
      <%= subnav_link_to_if(ftpolicy.unmute?, "Unmute", unmute_forum_topic_path(@forum_topic), method: :put) %>
    <% else %>
      <%= subnav_link_to_if(ftpolicy.mute?, "Mute", mute_forum_topic_path(@forum_topic), method: :put, data: { confirm: "Are you sure you want to mute this forum topic? It will no longer show as unread." }) %>
    <% end %>
    <% if !@forum_topic.new_record? && ftpolicy.any?(:update?, :hide?, :unhide?, :lock?, :unlock?, :sticky?, :unsticky?) %>
      |
      <%= subnav_link_to_if(ftpolicy.update?, "Edit", edit_forum_topic_path(@forum_topic), data: { shortcut: "e" }) %>
      <% if @forum_topic.is_hidden? && ftpolicy.unhide? %>
        <%= subnav_link_to "Unhide", unhide_forum_topic_path(@forum_topic), method: :put %>
      <% elsif ftpolicy.hide? %>
        <%= subnav_link_to "Hide", hide_forum_topic_path(@forum_topic), method: :put, data: { confirm: "Are you sure you want to hide this forum topic?" } %>
      <% end %>
      <% if @forum_topic.is_locked? && ftpolicy.unlock? %>
        <%= subnav_link_to "Unlock", unlock_forum_topic_path(@forum_topic), method: :put, data: { confirm: "Are you sure you want to unlock this forum topic?" } %>
      <% elsif ftpolicy.lock? %>
        <%= subnav_link_to "Lock", lock_forum_topic_path(@forum_topic), method: :put, data: { confirm: "Are you sure you want to lock this forum topic?" } %>
      <% end %>
      <% if @forum_topic.is_sticky? && ftpolicy.unsticky? %>
        <%= subnav_link_to "Unsticky", unsticky_forum_topic_path(@forum_topic), method: :put, data: { confirm: "Are you sure you want to unsticky this forum topic?" } %>
      <% elsif ftpolicy.sticky? %>
        <%= subnav_link_to "Sticky", sticky_forum_topic_path(@forum_topic), method: :put, data: { confirm: "Are you sure you want to sticky this forum topic?" } %>
      <% end %>
      <%= subnav_link_to_if(ftpolicy.confirm_move?, "Move", confirm_move_forum_topic_path(@forum_topic)) %>
    <% end %>
  <% end %>
<% end %>
