<%= render partial: "posts/partials/common/zoom_container" %>
<h1>Posts With #<%= params[:id] %></h1>

<%= render "posts/partials/common/inline_blacklist" %>
<% @posts.each do |match| %>
  <%= PostPresenter.preview(match, show_deleted: false) %>
<% end %>

<%= numbered_paginator(@posts) %>
<%= render "posts/partials/common/secondary_links" %>
