<div id="c-popular">
  <div id="a-index">
    <h1>Popular Index</h1>

    <ul>
      <%= li_link_to "Uploads", uploads_popular_index_path %>
      <%= li_link_to "Views", views_popular_index_path %>
      <%= li_link_to "Searches", searches_popular_index_path %>
      <%= li_link_to "Missed Searches", missed_searches_popular_index_path %>
    </ul>
  </div>
</div>

<%= render partial: "popular/secondary_links" %>

<% content_for(:page_title) do %>
  Popular Index
<% end %>
