<h1>Most Searched: <%= date_range_description(@date, @scale, @min_date, @max_date) %></h1>

<table class="striped autofit">
  <thead>
  <tr>
    <th>Count</th>
    <th>Tag</th>
  </tr>
  </thead>
  <tbody>
  <% @ranking.each do |rank| %>
    <tr id="popular-search-<%= rank["tag"] %>">
      <td><%= rank["count"] %></td>
      <td><%= link_to rank["tag"], posts_path(tags: rank["tag"]) %></td>
    </tr>
  <% end %>
  </tbody>
</table>

<%= render partial: "popular/secondary_links" %>

<% content_for(:page_title) do %>
  Popular Searches for <%= date_range_description(@date, @scale, @min_date, @max_date) %>
<% end %>

<% content_for(:html_header) do %>
  <meta name="description" content="The most searched tags">
<% end %>
