<%= render "secondary_links" %>

<table class="striped" id="notification-list">
  <thead>
    <tr>
      <th width="2%"></th>
      <th width="10%">Created At</th>
      <th>Notification</th>
      <th width="10%"></th>
    </tr>
  </thead>
  <tbody>
    <% @notifications.each do |notification| %>
      <tr data-id="<%= notification.id %>">
        <td>
          <% unless notification.is_read? %>
            <span class="new">NEW</span>
          <% end %>
        </td>
        <td class="notification-date"><%= compact_time(notification.created_at) %></td>
        <td class="notification-content"><%= format_text(notification.message, max_thumbs: 0) %></td>
        <td>
          <%= link_to("View", notification_path(notification)) %> |
          <%= link_to("Delete", notification_path(notification), method: :delete) %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= numbered_paginator(@notifications) %>

<% content_for(:page_title) do %>
  Notifications
<% end %>
