<h1>Pool History</h1>

<% if params.dig(:search, :pool_id).present? %>
  <%= render "revert_listing" %>
<% else %>
  <%= render "standard_listing" %>
<% end %>

<%= numbered_paginator(@pool_versions) %>

<%= render "pools/secondary_links" %>
<%= latest_link(@pool_versions) %>

<% content_for(:page_title) do %>
  Pool Versions
<% end %>
