<h1>Bulk Update Request Import</h1>

<%= form_tag(admin_bulk_update_request_import_path, class: "simple_form") do %>
  <pre>
Use the following format:

remove alias aaa -> bbb
remove implication aaa -> bbb
create alias aaa -> bbb
create implication aaa -> bbb
mass update aaa -> bbb
  </pre>

  <div class="input">
    <label for="batch_text">
      Script
    </label>
    <%= text_area "batch", "script", size: "60x20", value: @importer.try(:text) %>
    <% if @error %>
      <span class="error"><%= @error.message %></span>
    <% end %>
  </div>

  <div class="input">
    <label for="batch_forum_id">
      Forum ID
    </label>
    <%= text_field "batch", "forum_id", value: @importer.try(:forum_id) %>
  </div>

  <%= submit_tag "Import" %>
<% end %>

<%= render "secondary_links" %>

<% content_for(:page_title) do %>
  Bulk Update Request Import
<% end %>
