<%= render "search" %>
<table class="striped">
  <thead>
    <tr>
      <th>Count</th>
      <th>Name</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <% @tags.each do |tag| %>
      <tr>
        <td><%= tag.post_count %></td>
        <td class="category-<%= tag.category %>">
          <% if tag.category == TagCategory.artist %>
            <%= link_to("?", show_or_new_artists_path(name: tag.name)) %>
          <% else %>
            <%= link_to_wiki_or_new("?", tag.name) %>
          <% end %>
          <%= link_to(tag.name, posts_path(tags: tag.name)) %>
        </td>
        <td>
          <%= link_to_if(policy(tag).update?, "edit", edit_tag_path(tag)) { "" } %>
          | <%= link_to "history", tag_versions_path(search: { tag: tag.name }) %>
          <% if policy(tag).correct? %>
            | <%= link_to "fix", correct_tag_path(tag), method: :put %>
          <% end %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= numbered_paginator(@tags) %>

<%= render "secondary_links" %>

<% content_for(:page_title) do %>
  Tags
<% end %>
