<section>
  <ul>
    <li><h1>Posts</h1></li>
    <%= li_link_to("Listing", posts_path) %>
    <%= li_link_to("Upload", new_upload_path) %>
    <%= li_link_to_if(policy(Upload).index?, "Upload Listing", uploads_path) %>
    <%= li_link_to("Popular Uploads", uploads_popular_index_path) %>
    <%= li_link_to("Most Viewed", views_popular_index_path) %>
    <%= li_link_to("Similar Images Search", posts_iqdb_path) %>
    <%= li_link_to_if(policy(PostDisapproval).index?, "Disapprovals", post_disapprovals_path) %>
    <%= li_link_to("Deletion Reasons", post_deletion_reasons_path) %>
    <%= li_link_to("Replacement Rejection Reasons", post_replacement_rejection_reasons_path) %>
    <%= li_link_to("Deleted Index", deleted_posts_path) %>
    <%= li_link_to("Help", help_page_path(id: "posts")) %>
  </ul>
  <ul>
    <li><h1>Post Events</h1></li>
    <%= li_link_to("Listing", post_events_path) %>
    <%= li_link_to("Tag Changes", post_versions_path) %>
    <%= li_link_to("Approvals", post_approvals_path) %>
    <%= li_link_to("Flags", post_flags_path) %>
    <%= li_link_to("Replacements", post_replacements_path) %>
  </ul>
  <ul>
    <li><h1>Tools</h1></li>
    <%= li_link_to("News Updates", news_updates_path) %>
    <%= li_link_to("Mascots", mascots_path) %>
    <%= li_link_to("Source Code", PawsMovin.config.source_code_url) %>
    <%= li_link_to("Keyboard Shortcuts", keyboard_shortcuts_path) %>
    <%= li_link_to("API Documentation", help_page_path(id: "api")) %>
    <%= li_link_to("Stats", stats_path) %>
    <%= li_link_to("DB Exports", "/db_exports") %>
  </ul>
  <ul>
    <li><h1>Artists</h1></li>
    <%= li_link_to("Listing", artists_path) %>
    <%= li_link_to("Avoid Posting", avoid_postings_path) %>
    <%= li_link_to("Changes", artist_versions_path) %>
    <%= li_link_to("Help", help_page_path(id: "artists")) %>
  </ul>
</section>
<section>
  <ul>
    <li><h1>Tags</h1></li>
    <%= li_link_to("Listing", tags_path) %>
    <%= li_link_to("Aliases", tag_aliases_path) %>
    <%= li_link_to("Implications", tag_implications_path) %>
    <%= li_link_to("Cheat Sheet", help_page_path(id: "cheatsheet")) %>
    <%= li_link_to("Help", help_page_path(id: "tags")) %>
  </ul>
  <ul>
    <li><h1>Notes</h1></li>
    <%= li_link_to("Listing", notes_path) %>
    <%= li_link_to("Changes", note_versions_path) %>
    <%= li_link_to("Help", help_page_path(id: "notes")) %>
  </ul>
  <ul>
    <li><h1>Pools</h1></li>
    <%= li_link_to("Listing", gallery_pools_path) %>
    <%= li_link_to("Changes", pool_versions_path) %>
    <%= li_link_to("Help", help_page_path(id: "pools")) %>
  </ul>
</section>
<section>
  <ul>
    <li><h1>Comments</h1></li>
    <%= li_link_to("Listing", comments_path) %>
    <%= li_link_to("Help", help_page_path(id: "comments")) %>
  </ul>
  <ul>
    <li><h1>Forum</h1></li>
    <%= li_link_to("Listing", forum_topics_path) %>
    <%= li_link_to("Help", help_page_path(id: "forums")) %>
  </ul>
  <ul>
    <li><h1>Wiki</h1></li>
    <%= li_link_to("Listing", wiki_pages_path) %>
    <%= li_link_to("Changes", wiki_page_versions_path) %>
    <%= li_link_to("Help", help_page_path(id: "wiki")) %>
  </ul>
</section>
<section>
  <ul>
    <li><h1>Users</h1></li>
    <%= li_link_to("Listing", users_path) %>
    <%= li_link_to("Bans", bans_path) %>
    <% if CurrentUser.user.is_anonymous? %>
      <%= li_link_to("Signup", new_user_path) %>
    <% else %>
      <%= li_link_to("Profile", user_path(CurrentUser.user)) %>
      <%= li_link_to("Settings", edit_users_path) %>
      <%= li_link_to("Refresh Counts", new_users_count_fixes_path) %>
    <% end %>
    <%= li_link_to("Feedback", user_feedbacks_path) %>
    <%= li_link_to("Terms of Service", terms_of_service_path) %>
    <%= li_link_to("Help", help_page_path(id: "accounts")) %>
  </ul>
  <ul>
    <li><h1>Admin</h1></li>
    <%= li_link_to_if(policy(:moderator_dashboard).show?, "Mod Dashboard", moderator_dashboard_path) %>
    <%= li_link_to_if(policy(UserTextVersion).index?, "User Text Versions", moderator_user_text_versions_path) %>
    <%= li_link_to_if(policy(StaffAuditLog).index?, "Audit Logs", admin_audit_logs_path) %>
    <%= li_link_to_if(policy(AdminDashboard).show?, "Admin Dashboard", admin_dashboard_path) %>
    <%= li_link_to_if(policy(EmailBlacklist).index?, "Email Blacklist", email_blacklists_path) %>
    <%= li_link_to_if(policy(:danger_zone).index?, "Danger Zone", admin_danger_zone_index_path) %>
    <%= li_link_to_if(policy(IpBan).index?, "IP Bans", ip_bans_path) %>
    <%= li_link_to_if(policy(%i[admin user]).alt_list?, "Alt list", alt_list_admin_users_path) %>
    <%= li_link_to_if(policy(:stuck_dnp).create?, "Stuck DNP tags", new_admin_stuck_dnp_path) %>
    <%= li_link_to_if(policy(BulkUpdateRequestImporter).create?, "Bulk Update Request Import", new_admin_bulk_update_request_import_path) %>
    <%= li_link_to_if(policy(:reowner).create?, "Post Reowner", new_admin_reowner_path) %>
    <%= li_link_to("Upload Whitelist", upload_whitelists_path) %>
    <%= li_link_to("Mod Actions", mod_actions_path) %>
    <%= li_link_to("Bulk Update Requests", bulk_update_requests_path) %>
    <%= li_link_to("Takedowns", takedowns_path) %>
    <%= li_link_to("Tickets", tickets_path) %>
  </ul>
</section>

<% content_for(:page_title) do %>
  Site Map
<% end %>
