<%# locals: (forum_post:, original_forum_post_id:) -%>

<% if forum_post.visible?(CurrentUser.user) %>
  <article class="forum-post comment-post-grid" id="forum_post_<%= forum_post.id %>"
           data-forum-post-id="<%= forum_post.id %>" data-creator="<%= forum_post.creator&.name&.downcase %>"
           data-creator-id="<%= forum_post.creator_id %>"
           data-is-hidden="<%= forum_post.id == original_forum_post_id ? @forum_topic.is_hidden? : forum_post.is_hidden? %>">
    <div class="author-info">
      <div class="name-rank">
        <h4 class="author-name"><%= link_to_user forum_post.creator %></h4>
        <%= forum_post.creator.level_string_pretty %>
        <% if forum_post.is_hidden? %>
          <span<% if forum_post.hidden_at.present? %> title="<%= time_ago_in_words(forum_post.hidden_at) %> ago"<% end %>>(hidden)</span>
        <% end %>
      </div>
      <div class="avatar">
        <%= user_avatar(forum_post.creator) %>
      </div>
      <div class="post-time">
        <%= link_to time_ago_in_words_tagged(forum_post.created_at), forum_topic_path(forum_post.topic, page: forum_post.forum_topic_page, anchor: "forum_post_#{forum_post.id}") %>
      </div>
    </div>
    <div class="content">
      <div class="dtext-container">
        <% if forum_post.is_aibur? %>
          <%= format_text(tag_change_message(forum_post)) %>
        <% end %>

        <%= format_text(parse_embedded_tag_request_text(forum_post.body), allow_color: CurrentUser.id == forum_post.creator_id || (CurrentUser.is_anonymous? || !CurrentUser.disable_colors?)) %>
      </div>
      <%= render "application/update_notice", record: forum_post %>
      <%= render "application/warned_notice", record: forum_post %>
      <div class="content-menu">
        <menu>
          <% if CurrentUser.user.is_member? && !@forum_topic&.is_stale_for?(CurrentUser.user) && params[:controller] != "forum_posts" %>
            <%= li_link_to("Reply", "", class: "reply-link forum-post-reply-link") %>
          <% end %>
          <% if forum_post.is_original_post?(original_forum_post_id) %>
            <% if forum_post.topic.is_hidden? && policy(forum_post.topic).unhide? %>
              <%= li_link_to("Undelete", unhide_forum_topic_path(forum_post.topic.id), method: :post) %>
            <% elsif policy(forum_post.topic).hide? %>
              <%= li_link_to("Delete", hide_forum_topic_path(forum_post.topic.id), data: { confirm: "Are you sure you want to delete this forum topic?" }, method: :post) %>
            <% end %>
            <%= li_link_to_if(policy(forum_post.topic).destroy?, "Destroy", forum_topic_path(forum_post.topic), data: { confirm: "Are you sure you want to destroy this forum topic?" }, method: :delete) %></li>
          <% else %>
            <% if forum_post.is_hidden? && policy(forum_post).unhide? %>
              <%= li_link_to_if("Undelete", "", class: "forum-post-unhide-link") %>
            <% elsif !forum_post.is_hidden? && policy(forum_post).hide? %>
              <%= li_link_to("Delete", "", class: "forum-post-hide-link") %>
            <% end %>
            <%= li_link_to_if(policy(forum_post).destroy?, "Destroy", forum_post_path(forum_post.id), data: { confirm: "Are you sure you want to destroy this forum post?" }, method: :delete) %>
          <% end %>
          <% if policy(forum_post).update? %>
            <% if forum_post.is_original_post?(original_forum_post_id) %>
              <%= li_link_to("Edit", edit_forum_topic_path(forum_post.topic), id: "edit_forum_topic_link_#{forum_post.topic.id}", class: "edit_forum_topic_link") %>
            <% else %>
              <%= li_link_to("Edit", edit_forum_post_path(forum_post.id), id: "edit_forum_post_link_#{forum_post.id}", class: "edit_forum_post_link") %>
            <% end %>
          <% end %>
          <% if params[:controller] == "forum_posts" %>
            <%= li_link_to("Parent", forum_topic_path(forum_post.topic, page: forum_post.forum_topic_page, anchor: "forum_post_#{forum_post.id}")) %>
          <% end %>
          <%= li_link_to_if(TicketPolicy.new(CurrentUser.user, forum_post).create?, "Report", model_new_ticket_path(model: forum_post)) %>
          <% edits = policy(EditHistory).show? %>
          <% mark = policy(forum_post).warning? %>
          <% if edits || mark %>
            <li>|</li>
          <% end %>
          <%= li_link_to_if(edits, "Show Edits", edit_history_path(id: forum_post.id, type: "ForumPost")) %>
          <% if mark %>
            <%= render "user_warnable/buttons", model: forum_post %>
          <% end %>
          <% if policy(forum_post).can_see_ip_addr? %>
            <li>|</li>
            <li>
              <strong>IP</strong>
              <span><%= link_to_ip forum_post.creator_ip_addr %></span>
            </li>
          <% end %>
          <% if forum_post.votable? %>
            <%= render "forum_posts/votes/list", votes: forum_post.votes, forum_post: forum_post %>
            <%= li_link_to_if(ForumPostVotePolicy.new(CurrentUser.user, forum_post).index?, "(List)", { controller: "forum_posts/votes", search: { forum_post_id: forum_post.id } }) %>
          <% end %>
        </menu>
        <% if policy(forum_post).update? %>
          <% if forum_post.is_original_post?(original_forum_post_id) %>
            <%= render "forum_topics/form", forum_topic: forum_post.topic %>
          <% else %>
            <%= render "forum_posts/partials/edit/form", forum_post: forum_post %>
          <% end %>
        <% end %>
      </div>
    </div>
  </article>
<% end %>
