<h1>Edit User: <%= @user.name %></h1>

<%= custom_form_for(@user, url: admin_user_path(@user), method: :patch, policy: policy([:admin, @user])) do |f| %>
  <%= f.input(:id, as: :hidden) %>
  <%= f.input(:name, policy: OverwritePolicy.new(true), input_html: { size: 50 }) %>
  <%= f.input(:force_name_change, collection: [["Yes", true], ["No", false]], label: "Force Name Change") %>
  <%= f.input(:title, input_html: { size: 50 }) %>
  <% if can_use_attribute?([:admin, @user], :email) %>
    <%= f.input(:email, input_html: { size: 50 }) %>
    <div class="input">
      <label class="block" for="user_verified">Email Verified</label>
      <%= select_tag("user[verified]", options_for_select([["Yes", true], ["No", false]], @user.is_verified?)) %>
    </div>
  <% end %>

  <div class="input">
    <label class="block" for="user_enable_privacy_mode">Privacy Mode</label>
    <%= select_tag("user[enable_privacy_mode]", options_for_select([["Yes", true], ["No", false]], @user.enable_privacy_mode?)) %>
  </div>

  <%= f.input(:profile_about, as: :dtext, label: "About", limit: PawsMovin.config.user_about_max_size) %>
  <%= f.input(:profile_artinfo, as: :dtext, label: "Commission Info", limit: PawsMovin.config.user_about_max_size) %>
  <%= f.input(:base_upload_limit) %>

  <%= f.input(:level, collection: user_levels_for_select) %>
  <%= f.input(:unrestricted_uploads, collection: [%w[Yes true], %w[No false]], label: "Unrestricted Uploads") %>
  <%= f.input(:can_approve_posts, collection: [%w[Yes true], %w[No false]], label: "Approve Posts") %>
  <%= f.input(:no_flagging, collection: [%w[Yes true], %w[No false]], label: "Banned From Flagging") %>
  <%= f.input(:no_replacements, collection: [%w[Yes true], %w[No false]], label: "Banned From Replacements") %>
  <%= f.input(:can_manage_aibur, collection: [%w[Yes true], %w[No false]], label: "Manage Tag Change Requests") %>
  <%= f.input(:no_aibur_voting, collection: [%w[Yes true], %w[No false]], label: "No AIBUR Voting") %>

  <%= f.button(:submit, value: "Update") %>
<% end %>

<%= render "users/secondary_links" %>

<% content_for(:page_title) do %>
  Edit User - <%= @user.name %>
<% end %>
