<%# locals: (categories:) -%>

<table class="striped rules-order-table" id="sortable-rules">
  <% categories.each do |category| %>
    <thead class="category" data-category-id="<%= category.id %>">
    <tr>
      <th>Category</th>
      <th>Creator</th>
      <th>Date</th>
      <th>Name</th>
      <th></th>
    </tr>
    </thead>
    <tbody class="category" data-category-id="<%= category.id %>">
    <tr id="category-<%= category.id %>" data-id="<%= category.id %>">
      <td><%= category.order %></td>
      <td><%= link_to_user category.creator %></td>
      <td><%= compact_time category.updated_at %></td>
      <td><%= category.name %></td>
      <td>
        <%= link_to "Edit", edit_rule_category_path(category) %> |
        <%= link_to "Delete", rule_category_path(category), method: :delete, data: { confirm: "Are you sure you want to delete this rule category?" } %>
      </td>
    </tr>
    </tbody>
    <thead>
    <tr>
      <th>Rule</th>
      <th>Creator</th>
      <th>Date</th>
      <th>Name</th>
      <th></th>
    </tr>
    </thead>
    <tbody class="rules">
    <% category.rules.order(:order).each do |rule| %>
      <tr id="rule-<%= rule.id %>" data-id="<%= rule.id %>">
        <td><%= category.order %>.<%= rule.order %> (<%= rule.id %>)</td>
        <td><%= link_to_user rule.creator %></td>
        <td><%= compact_time rule.updated_at %></td>
        <td><%= rule.name %></td>
        <td>
          <%= link_to "Edit", edit_rule_path(rule) %> |
          <%= link_to "Delete", rule_path(rule), method: :delete, data: { confirm: "Are you sure you want to delete this rule?" } %>
        </td>
      </tr>
    <% end %>
    </tbody>
  <% end %>
</table>
